#task {
    display: flex;
    gap: 20px;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__item {
    border: 2px solid #000000;
    margin: 5px 0;
}

.tasks {
    display: flex;
    gap: 10px;
    background-color: #cbcbcb;
}

.tasks_container {
    background-color: #aaaaaa;
    height: 400px;
    width: 200px;
    overflow-y: auto;
}

.todo {
    background-color: #ff0000;
}

.progress {
    background-color: #0000ff;
}

.testing {
    background-color: #ffff00;
}

.done {
    background-color: #00ff00;
}